## 練習時間

#### 資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [75]:
import os
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [76]:
# 設定 data_path
dir_data = './data/'

In [77]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

#### 資料的 row 數以及 column 數

In [78]:
(nrow, ncol) = app_train.shape
print('Columns = %d' % nrow)
print('Rows = %d' % ncol)

Columns = 307511
Rows = 122

#### 列出所有欄位

In [79]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [80]:
data = app_train.iloc[0:50:3, 0:100:20]
data

,SK_ID_CURR,DAYS_ID_PUBLISH,ORGANIZATION_TYPE,YEARS_BEGINEXPLUATATION_MODE,FLOORSMIN_MEDI
0,100002,-2120,Business Entity Type 3,0.9722,0.1250
3,100006,-2437,Business Entity Type 3,NaN,NaN
6,100009,-619,Business Entity Type 3,NaN,NaN
9,100012,-3992,Electricity,NaN,NaN
12,100016,-3227,Business Entity Type 2,0.9811,NaN
15,100019,-1368,Business Entity Type 2,NaN,NaN
18,100022,-1259,Housing,0.9881,0.1250
21,100025,-2299,Trade: type 7,NaN,NaN
24,100029,-3729,Business Entity Type 3,0.9861,0.2083
27,100032,-3153,Industry: type 11,NaN,NaN
30,100035,-3787,Business Entity Type 3,0.9697,NaN
33,100039,-3557,Self-employed,NaN,NaN
36,100043,-735,Other,NaN,NaN
39,100046,-4292,Business Entity Type 3,0.9831,0.2083
42,100049,-4409,Self-employed,NaN,NaN
45,100052,-642,Self-employed,NaN,NaN
48,100055,-3199,Government,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子  
處理NaN
插入新值替代NaN，避免直接刪除列造成重要資料遺失或著替換值造成誤差

In [81]:
new_data = app_train.iloc[0:50:3, 0:100:40]
print('Original data: \n')
print (new_data)
# 增加行代表NaN（True/False）
missing_col = (col for col in new_data.columns 
                                 if new_data[col].isnull().any())
for col in missing_col:
    new_data[col + '_was_NaN'] = new_data[col].isnull()*1

# Imputation
my_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0.0)
data_imputed = my_imputer.fit_transform(new_data)

# array转换成df
df_data_imputed = pd.DataFrame(data_imputed,columns=new_data.columns)
print('\n\nAfter all:')
print (df_data_imputed)

Original data:

    SK_ID_CURR       ORGANIZATION_TYPE  FLOORSMIN_MEDI
0       100002  Business Entity Type 3          0.1250
3       100006  Business Entity Type 3             NaN
6       100009  Business Entity Type 3             NaN
9       100012             Electricity             NaN
12      100016  Business Entity Type 2             NaN
15      100019  Business Entity Type 2             NaN
18      100022                 Housing          0.1250
21      100025           Trade: type 7             NaN
24      100029  Business Entity Type 3          0.2083
27      100032       Industry: type 11             NaN
30      100035  Business Entity Type 3             NaN
33      100039           Self-employed             NaN
36      100043                   Other             NaN
39      100046  Business Entity Type 3          0.2083
42      100049           Self-employed             NaN
45      100052           Self-employed             NaN
48      100055              Government             NaN


After all:
   SK_ID_CURR       ORGANIZATION_TYPE FLOORSMIN_MEDI FLOORSMIN_MEDI_was_NaN
0      100002  Business Entity Type 3          0.125                      0
1      100006  Business Entity Type 3              0                      1
2      100009  Business Entity Type 3              0                      1
3      100012             Electricity              0                      1
4      100016  Business Entity Type 2              0                      1
5      100019  Business Entity Type 2              0                      1
6      100022                 Housing          0.125                      0
7      100025           Trade: type 7              0                      1
8      100029  Business Entity Type 3         0.2083                      0
9      100032       Industry: type 11              0                      1
10     100035  Business Entity Type 3              0                      1
11     100039           Self-employed              0                      1
12     100043                   Other              0                      1
13     100046  Business Entity Type 3         0.2083                      0
14     100049           Self-employed              0                      1
15     100052           Self-employed              0                      1
16     100055              Government              0                      1